# Database Credentials
DB_USER=admin
DB_PASSWORD=MySecretPassword123

# Identity Database
IDENTITY_DB_NAME=identity_db
IDENTITY_DB_PORT=5431

# Resource Database
RESOURCE_DB_NAME=resource_db
RESOURCE_DB_PORT=5432